<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<display-name>Unidade5</display-name>
	<!-- Config do nosso xml -->
	<!-- Spring Configuration -->
	<servlet>
		<!-- Iremos usar o dispatcher para mandar de um model pro controler pro 
			view, pois é ele que ira fazer o direcionamento das paginas -->
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- esse value é o arquivo de config que foi criado por nos -->
			<param-value>/WEB-INF/spring-mvc-servlet.xml</param-value>
		</init-param>


		<load-on-startup>1</load-on-startup>

	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>